/.vagrant
/.idea
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/bin/atos/config/certif*
/bin/atos/config/parmcom.0*

# Laravel 5 & Lumen specific
bootstrap/cache/
!bootstrap/cache/.gitkeep
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/